.trainee-list {
  padding: 30px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #7e70cc0d;
}

.student-item {
  width: 33%;
  height: 600px;
  margin: 25px 10px;
  border: 1px solid #7e70cc;
  border-radius: 10px;
  background-color: white;
  transition: all 0.5s ease;
  position: relative;
}
.student-item:hover {
  background-color: snow;
  box-shadow: 0 2px 15px rgba(191, 42, 224, 0.553);
}

.student-item-img {
  width: 100%;
  height: 300px;
  border-radius: 10px 10px 0;
  object-fit: cover;
}

.student-item-body {
  padding: 15px 10px;
  color: rgb(15, 13, 8);
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.student-item-name {
  font-size: 20px;
  font-weight: 600;
}

.student-item-bio {
  margin: 15px 0;
  font-weight: 500;
}

.student-item-links {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 100%;
}
.student-item-link {
  width: 44%;
  margin: 5px 3px;
  background-color: #daeb3f;
  padding: 10px;
  font-size: 14px;
  transition: all 0.3s;
}

.student-item-link:hover {
  background-color: #9c5be7;
  color: white;
  transform: scale(1.1);
}

/* Media Queries */
@media (max-width: 980px) {
  .student-item {
    width: 70%;
  }
  .student-item-link {
    margin: 5px 3px;
    width: 44%;
  }
}

@media (max-width: 720px) {
  .student-item {
    width: 80%;
  }
  .student-item-link {
    margin: 5px 3px;
    width: 40%;
    font-size: 15px;
  }
}

@media (max-width: 520px) {
  .student-item {
    width: 100%;
  }
}
