.header {
  width: 100%;
  height: 100px;
  background-color: #773baf;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

/* Logo */
.logo {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.logo-img {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-text {
  display: flex;
  flex-direction: column;
  font-size: 1.4em;
}

.logo-text b {
  margin-left: 5px;
  color: #e8dcee;
  font-weight: 600;
  font-size: 2.1em;
  font-family: bauhaus;
  letter-spacing: 2px;
  text-shadow:
    1px 1px 1px #5e0967,
    1px 2px 1px #9a26c1,
    1px 3px 1px #e8dcee,
    /* 1px 4px 1px #e8dcee, 
      1px 5px 1px #e8dcee, */ 1px 6px 1px #5e0967,
    1px 7px 1px #919191,
    1px 8px 1px #5e0967,
    /* 9px 1px #5e0967,  */ /* 1px 10px 1px #5e0967, */ 1px 18px 6px
      rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2),
    1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
  transition: 0.3s linear;
}

.logo-text b:active {
  transform: translate(0.1em, -0.1em);
  text-shadow:
    1px 0px 6px rgba(16, 16, 16, 0.4),
    1px 0px 10px rgba(16, 16, 16, 0.2),
    1px 0px 35px rgba(16, 16, 16, 0.2),
    1px 0px 60px rgba(16, 16, 16, 0.2);
}

.logo-text a {
  color: #e8dcee;
  text-decoration: none;
}

/* Nav */
.navbar-links {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.navbar-link {
  margin: 0 5px;
  font-size: 1.2em;
  font-weight: 500;
  border-radius: 14px;
  color: #e8dcee;
  cursor: pointer;
  text-decoration: none;
  padding: 7px;
  width: 5.4em;
  height: 2em;
  text-align: center;
  background: linear-gradient(
    90deg,
    rgb(166, 51, 200) 0%,
    rgb(100, 28, 101) 35%,
    rgb(73, 7, 127) 100%
  );
  vertical-align: middle;
  line-height: 1.1em;
  border-bottom: 2px solid #060606;
  position: relative;
  box-shadow: -0.2em 0.2em 0 #333333a8;
  transition: all 0.25s linear;
}

.navbar-link:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(61, 45, 188) 35%,
    rgb(162, 29, 177) 100%
  );
  color: #fffdff;
  transform: translate(0.2em, -0.2em);
  transition: all 0.25s ease;
  box-shadow: -0.2em 0.5em 0 #333333d5;
}

.navbar-link:active {
  transform: translate(0.1em, -0.1em);
  box-shadow: -0.1em 0.1em 0 #333333d5;
}

.header-menu {
  display: none;
  font-size: 50px;
  cursor: pointer;
  color: #0c0c0c;
  display: none;
}

/* Media Queries */
@media (max-width: 1024px) {
  .navbar-link {
    margin: 0 5px;
    font-size: 1.2em;
    font-weight: 400;
    padding: 7px;
    width: 5.5em;
    line-height: 1.2em;
  }
  .logo-text b {
    font-size: 1.5em;
  }
  .logo {
    width: 200px;
    margin-left: 20px;
  }
}
@media (max-width: 820px) {
  .navbar-link {
    margin-right: 3px;
    font-size: 1.2em;
    font-weight: 400;
    padding: 7px;
    width: 5.4em;
    line-height: 1.2em;
  }
  .logo-text b {
    font-size: 1.3em;
  }
}

@media (max-width: 720px) {
  .header {
    justify-content: space-between;
  }
  .header-menu {
    display: block;
    padding-right: 40px;
  }

  .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: all 1s ease;
    z-index: 1;
    border: 1px solid #9c11e2;
  }

  .navbar-links {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 40px;
  }

  .navbar-link {
    margin: 15px 0;
    color: #e8dcee;
  }

  .logo-text b {
    color: #e8dcee;
    font-size: 1.4em;
  }

  .logo-img {
    width: 100px;
  }

  .logo {
    width: 200px;
    margin-left: 50px;
  }
}
